<div class="tabs">
  <a routerLinkActive="selected" routerLink="bookmarks" class="tab">
    <div class="tab-tile">
      <span class="material-icons-outlined">bookmarks</span>
    </div>
  </a>

  <a routerLinkActive="selected" routerLink="todos" class="tab">
    <div class="tab-tile">
      <span class="material-icons-outlined" >check</span>
    </div>
  </a>

  <a routerLinkActive="selected" routerLink="notes" class="tab">
    <div class="tab-tile">
      <span class="material-icons-outlined">notes</span>
    </div>
  </a>
</div>
