/* You can add global styles to this file, and also import other style files */


@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined|Material+Icons');


html {
  font-family: 'Inter', sans-serif;
}

html, body {
  height: 100%;
}

h1 {
  font-size: 48px;
  font-family: 'Inter', sans-serif;
}

h2 {
  font-size: 40px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

.color-white {
  color: white;
}

.container {
  max-width: 850px;
  margin: auto;
}


.has-blurred-white-bg {
  background: rgba($color: white, $alpha: 0.85);
  backdrop-filter: blur(20px);
}

h1.is-bold,
h2.is-bold {
  font-weight: bold;
  letter-spacing: -2px;
}

.textbox,
.text-area {
  font-size: 18px;
  font-family: inherit;
  background: rgba($color: white, $alpha: 0.7);
  border: 2px solid rgba($color: black, $alpha: 0.5);
  border-radius: 4px;
  padding: 7px 10px;
  margin-bottom: 10px;
  width: 100%;

  &:hover {
    background: rgba($color: white, $alpha: 0.9);
    border-color: rgba($color: black, $alpha: 0.7);
  }

  &:focus {
    background: rgba($color: white, $alpha: 0.9);
    border-color: rgba($color: black, $alpha: 0.7);
    outline: none;
  }
}

.text-area {
  resize: vertical;
  min-height: 100px;
}


.btn {
  background: rgba($color: black, $alpha: 0.9);
  padding: 10px 22px;
  color: white;
  font-size: 18px;
  margin: 12px;
  display: 	inline-flex;
  font-weight: 600;
  font-family: inherit;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 2px;
  border: none;

  &:hover {
    background-color: rgba($color: black, $alpha: .95);
    backdrop-filter: blur(2px);
  }

  &:active {
    background-color: rgba($color: black, $alpha: .99);
  }
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.text-red {
  color: red;
}
